
<nav>
  <div class="nav-wrapper">
    <a href="" class="brand-logo">Pets</a>
  </div>
</nav>
<p style="margin-left: 45%;" id="notice"><%= notice %></p>

<div style="margin-left: 25%; margin-right: 25%;">
<table class="highlight centered responsive-table" style="margin-top: 5%;">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Raca</th>
      <th>Peso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pets.each do |pet| %>
      <tr>
        <td><%= pet.nome %></td>
        <td><%= pet.raca %></td>
        <td><%= pet.peso %></td>
        <td><%= link_to 'Show', pet %></td>
        <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
        <td><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>


<div style=" margin-left: 47%; margin-right: 50%;" >
 <%= link_to 'New Pet', new_pet_path %>
</div>
